annonymous
apache
cgi-bin
FileZillaFTP
MercuryMail
anonymous
contrib
img
install
licenses
locale
mailtodisk
mercury
mysql
perl
php
phpMyAdmin
tomcat
src
sendmail
tmp
webalizer

*.com
*.class
*.dll
*.exe
*.o
*.so
*.bat

readme_de.txt
readme_en.txt
uninstall.dat
webdav
xampp-control.ini
passwords.txt
